.projectblock {

  @include deep-map-get('background-color', $base_colours, 'red', 'crimson');
  @include transition(background-color 0.4s ease-in-out);
  display: block;
  border-radius: 5px;
  margin: 15px auto;
  padding: 15px;
  color: white;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 200px;

  &:hover {
    //@include deep-map-get('background-color', $base_colours, 'red', 'deep');
    background-color: tint(map-get( map-get($base_colours, 'red'), 'crimson'), 15%);
  }
  img {

  }

  &__title {

  }

  &__intro {

  }

  &__year {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}
